<% if players.blank? %>
  <h2 class="title is-6 mt-5">No players registered yet</h2>
<% else %>
  <h2 class="title is-6 mt-5"><%= players.size %> players currently registered</h2>

  <table class="table is-striped is-narrow is-hoverable">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>VEKN</th>
      <th>Country</th>
    </tr>
    </thead>
    <% players.each_with_index do |p, i| %>
      <tr>
        <th><%= i + 1 %></th>
        <td><%= p.name %></td>
        <td><%= p.vekn %></td>
        <td><%= p.country_name %></td>
      </tr>
    <% end %>
  </table>
<% end %>
