<% if @tournament.present? %>
  <%= turbo_frame_tag "prereg" do %>

    <h1 class="title is-4">Registration for "<%= @tournament.name %>"</h1>
    <h2 class="subtitle"><%= @tournament.display_date %></h2>

    <%= render 'tournament_info', with_prereg: true %>

    <% if @tournament.prereg_info.present? %>
      <%= render 'prereg_info' %>
    <% end %>

    <div class="card mt-4">
      <div class="card-content has-background-info-light">
        <%= turbo_frame_tag "register" do %>
          <% if @tournament.prereg_open? %>
            <%= button_to 'Register to this tournament', search_registration_path(@tournament), class: "button is-primary" %>
          <% elsif @tournament.prereg_closed? %>
            <p class="has-text-danger-dark">Registration here is now closed, please register on site.</p>
          <% end %>
          <%= render "playerlist", players: @tournament.tournament_players %>
        <% end %>
      </div>
    </div>

  <% end %>
<% end %>
