<% if tournaments.present? %>
  <tr>
    <th colspan="6"><span class="is-size-4 has-text-<%= color %>"><%= title %></span></th>
  </tr>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Location</th>
    <th>Organizers</th>
    <th>Players</th>
  </tr>
  <% tournaments.each do |t| %>
    <tr>
      <td style="white-space: nowrap"><%= t.display_date %></td>
      <td><%= link_to t.name, t %></td>
      <td><%= t.location %></td>
      <td><%= t.organizers %></td>
      <td class="has-text-right"><%= t.player_count %></td>
    </tr>
  <% end %>
<% end %>
