<%= turbo_frame_tag "players" do %>
  <div class="columns">
    <div class="column">
      <h2 class="title is-4"><%=
        if tournament.has_players?
          pluralize(tournament.player_count, "player")
        elsif tournament.past?
          "No players"
        else
          "No players yet"
        end
      %></h2>
    </div>
    <div class="column is-narrow">
      <div class="control">
        <%= button_to "Add players", show_search_tournament_path(tournament),
                      class: "button is-primary mr-2", disabled: tournament.past? %>
      </div>
    </div>
  </div>

  <% if tournament.player_count > 0 %>

    <% if tournament.has_unconfirmed_players? %>
      <p>"Confirmed" is for marking pre-registered players as actually present at the tournament site.
        It is purely a visual aid, all non-removed players will still be included in the output Archon.
        You can also print
        a <%= link_to 'confirmation sheet', unconfirmed_sheet_tournament_path(tournament), target: '_blank' %>
        to help with player check-in.</p>
    <% end %>

    <table class="table is-striped is-hoverable is-narrow mt-4">
      <thead>
      <tr>
        <th class="has-text-right">#</th>
        <th>Name</th>
        <th>VEKN#</th>
        <% if tournament.decklists %>
          <th>Decklist</th>
        <% end %>
        <% if tournament.prereg %>
          <th>Confirmed</th>
        <% end %>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% tournament.tournament_players.each_with_index do |p, n| %>
        <tr class="has-background-<%= !tournament.prereg || p.confirmed ? "success-light" : "link-light" %>">
          <td class="has-text-right"><%= n + 1 %></td>
          <td><%= p.name %></td>
          <td><%= p.vekn %></td>
          <% if tournament.decklists %>
            <td>
              <%= form_with(model: p, url: toggle_decklist_tournament_player_path(p),
                            data: { controller: "form", form_target: "form" }) do |f| %>
                <%= f.check_box :decklist, "data-action": "click->form#submit" %>
              <% end %>
            </td>
          <% end %>
          <% if tournament.prereg %>
            <td>
              <%= form_with(model: p, url: toggle_confirm_tournament_player_path(p),
                            data: { controller: "form", form_target: "form" }) do |f| %>
                <%= f.check_box :confirmed, "data-action": "click->form#submit" %>
              <% end %>
            </td>
          <% end %>
          <td>
            <% unless tournament.past? %>
              <%= form_with(url: tournament_player_path(p), method: :delete) do |f| %>
                <div class="control">
                  <%= f.button type: "submit", class: "button is-warning has-text-black is-small py-0",
                               "data-controller": "delete-confirm",
                               "data-action": "click->delete-confirm#do",
                               "data-delete-confirm-action-value": "remove #{p.name} from the tournament" do %>
                      <span class="icon">
                        <i class="fas fa-minus"></i>
                      </span>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
