<%= turbo_frame_tag "searchresults" do %>
  <div class="columns">
    <div class="column">
      <% unless @results.nil? %>
        <% if @results.empty? %>

          <p>No matching players found.</p>

          <div class="control mt-4">
            <%= button_to "Add new player", new_tournament_tournament_player_path(@tournament),
                          method: :get, data: { turbo_frame: "searchresults" },
                          class: "button is-primary" %>
          </div>

        <% else %>
          <table class="table is-striped is-hoverable">
            <% @results.each do |result| %>
              <tr>
                <td><%= result.name %></td>
                <td><%= result.vekn %></td>
                <td>
                  <% unless result.added %>
                    <% player = TournamentPlayer.new(name: result.name, vekn: result.vekn,
                                                     player_id: result.player_id) %>
                    <%= form_with(model: player, url: tournament_tournament_players_path(@tournament),
                                  data: { controller: "form", form_target: "form" }) do |f| %>
                      <%= f.hidden_field :name %>
                      <%= f.hidden_field :vekn %>
                      <%= f.hidden_field :player_id %>
                      <div class="field is-grouped">
                        <% if @tournament.decklists %>
                          <label class="checkbox">
                            Has decklist?
                            <%= f.check_box :decklist %>
                          </label>
                        <% end %>
                        <div class="control">
                          <%= f.button type: "submit", class: "button is-primary has-text-black is-small py-0 ml-4",
                                       data: { action: "click->form#submitAndRemove" } do %>
                            <span class="icon">
                              <i class="fas fa-plus"></i>
                            </span>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>

        <% end %>
      <% end %>
    </div>
    <div class="column is-narrow" id="crud_notify">
    </div>
  </div>
<% end %>
