<div class="container">
  <div class="columns">
    <div class="column is-half">

      <h1 class="title is-4"><%= @tournament.name %></h1>
      <% if @tournament.date.present? %>
        <h2 class="subtitle">
          <% if @tournament.date.today? %>
            (<%= @tournament.display_date %>, <span class="has-text-danger-dark">today</span>)
          <% elsif @tournament.date.future? %>
            (<%= @tournament.display_date %>, <%= distance_of_time_in_words_to_now(@tournament.date) %> from now)
          <% else %>
            (<%= @tournament.display_date %>, <%= distance_of_time_in_words_to_now(@tournament.date) %> ago)
          <% end %>
        </h2>
      <% end %>

      <table class="table is-narrow mt-4">
        <% if @tournament.location.present? %>
          <tr>
            <th>Location</th>
            <td><%= @tournament.location %></td>
          </tr>
        <% end %>
        <% if @tournament.organizers.present? %>
          <tr>
            <th>Organizers</th>
            <td><%= @tournament.organizers %></td>
          </tr>
        <% end %>
        <tr>
          <th>Deck lists?</th>
          <td><%= @tournament.decklists ? "Yes" : "No" %></td>
        </tr>
      </table>

      <% if @tournament.notes.present? %>
        <article class="message">
          <div class="message-header">
            <p>Notes</p>
          </div>
          <div class="message-body">
            <%= @tournament.notes %>
          </div>
        </article>
      <% end %>

      <div class="columns">
        <div class="column is-half">
          <div class="control">
            <%= button_to "Back", tournaments_path, method: :get, class: "button is-link is-light" %>
          </div>
        </div>
        <div class="column has-text-right">
          <div class="control">
            <%= button_to "Edit", edit_tournament_path(@tournament), method: :get, class: "button is-link" %>
          </div>
        </div>
      </div>

    </div>
    <div class="column pl-5">
      <h2 class="title is-4"><%= @tournament.player_count %> players</h2>

      <p>Adding players to tournament has not been implemented yet, but working on it :)</p>
    </div>
  </div>
</div>
