<div class="container">
  <div class="columns">
    <div class="column is-one-third">

      <h1 class="title is-4"><%= @tournament.name %></h1>
      <% if @tournament.date.present? %>
        <h2 class="subtitle">
          <% if @tournament.date.today? %>
            <%= @tournament.display_date %>, <span class="has-text-danger-dark">today</span>
          <% elsif @tournament.date.future? %>
            <%= @tournament.display_date %>, <%= distance_of_time_in_words_to_now(@tournament.date) %> from now
          <% else %>
            <%= @tournament.display_date %>, <%= distance_of_time_in_words_to_now(@tournament.date) %> ago
          <% end %>
        </h2>
      <% end %>

      <table class="table is-narrow mt-4">
        <tr>
          <th>Location</th>
          <td><%= blank2minus(@tournament.location) %></td>
        </tr>
        <tr>
          <th><%= "Organizer".pluralize(@tournament.organizers&.count(',') + 1) %></th>
          <td><%= blank2minus(@tournament.organizers) %></td>
        </tr>
        <tr>
          <th>Deck lists required?</th>
          <td><%= @tournament.decklists ? "Yes" : "No" %></td>
        </tr>
        <tr>
          <th>Proxies allowed?</th>
          <td><%= @tournament.proxies ? "Yes" : "No" %></td>
        </tr>
        <tr>
          <th>Pre-registration?</th>
          <td><%= @tournament.prereg ? "Yes" : "No" %></td>
        </tr>
        <% if @tournament.prereg %>
          <tr>
            <th>Pre-registration ends</th>
            <td><%= @tournament.display_prereg_end %></td>
          </tr>
        <% end %>
      </table>

      <% if @tournament.prereg_slug.present? %>
        <div class="card">
          <div class="card-content has-background-white-ter">
            <div class="content">
              Public registration page is at<br/>
              <%=
                url = registration_url(@tournament.prereg_slug)
                link_to url, url, target: '_blank'
              %>
            </div>
          </div>
        </div>
      <% end %>

      <% if @tournament.notes.present? %>
        <div class="card">
          <header class="card-header has-background-grey-lighter">
            <p class="card-header-title">
              Notes (not public)
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <%= Kramdown::Document.new(@tournament.notes).to_html.html_safe %>
            </div>
          </div>
        </div>
      <% end %>

      <% if @tournament.prereg_info.present? %>
        <div class="card">
          <header class="card-header has-background-grey-lighter">
            <p class="card-header-title">
              Pre-registration info
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <%= Kramdown::Document.new(@tournament.prereg_info).to_html.html_safe %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="columns pt-5">
        <div class="column">
          <div class="field is-grouped">
            <div class="control">
              <%= button_to "Edit", edit_tournament_path(@tournament), method: :get, class: "button is-link" %>
            </div>
            <div class="control">
              <%= button_to "Back", tournaments_path, method: :get, class: "button is-link is-light" %>
            </div>
          </div>
        </div>
        <div class="column is-narrow has-text-right" id="archon_button">
          <% if @tournament.has_players? %>
            <%= render partial: 'archon_button', locals: { tournament: @tournament } %>
          <% end %>
        </div>
      </div>

      <div id="archon_help" data-controller="toggle" data-toggle-hidden-class="is-hidden">
        <% if @tournament.has_players? %>
          <%= render 'archon_help' %>
        <% end %>
      </div>

    </div>

    <div class="column pl-5" id="playerlist">
      <%= render "playerlist", tournament: @tournament %>
    </div>
  </div>
</div>
