<div class="container">
  <div class="columns">
    <div class="column is-one-third" data-controller="search-form">
      <%= turbo_frame_tag "index" do %>
        <h1 class="title is-4">Decklists</h1>

        <p>Decklists are only visible here a specified time after their tournament has started.</p>

        <% if @tournaments.empty? %>
          <p class="pt-4">
            No decklists available yet.
          </p>
        <% else %>
          <table class="table is-hoverable is-fullwidth mt-4">
            <thead>
            <tr>
              <th>Tournament</th>
              <th>Date</th>
              <th class="has-text-right">Decklists</th>
            </tr>
            </thead>
            <tbody>
            <% @tournaments.each do |t| %>
              <tr>
                <td><%= link_to t.name, tournament_index_decklist_path(t.id) %></td>
                <td><span class="is-size-7"><%= t.display_date(true) %></span></td>
                <td class="has-text-right">
                  <span class="is-size-7">
                  <%
                    players = @tournament_players[t.id]
                    decklists = t.tournament_players.size
                  -%>
                    <%= decklists %> / <%= players %>
                    <% if players > 0 %>
                    (<%= (decklists / (players / 100.0)).round %>%)
                  <% end %>
                  </span>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>

    </div>
    <div class="column">
      <%= turbo_frame_tag "decklist" do %>
      <% end %>
    </div>
  </div>
</div>
