<%= turbo_stream.prepend "crud_notify" do %>
  <div class="notification my-1 px-2 py-2 is-success" data-controller="timed-remove"
       data-timed-remove-timeout-value="10000" data-timed-remove-target="remove">
    Added <%= @player.name %>
  </div>
<% end %>

<% if @player.tournament.player_count == 1 %>
  <%= turbo_stream.update "archon_button" do %>
    <%= render partial: "tournaments/archon_button", locals: { tournament: @player.tournament } %>
  <% end %>

  <%= turbo_stream.update "archon_help" do %>
    <%= render "tournaments/archon_help" %>
  <% end %>
<% end %>
