<%= turbo_frame_tag "searchresults" do %>
  <%= form_with(model: @player, url: tournament_tournament_players_path(tournament_id: @tournament.id)) do |f| %>

    <%= hidden_field_tag "tournament_id", @tournament.id %>
    <%= hidden_field_tag "create_player", "true" %>

    <%= f.hidden_field :confirmed %>

    <% @player.errors.each do |error| %>
      <div class="notification is-danger">
        <%= error.full_message %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, class: "label" %>
      <div class="control">
        <%= f.text_field :name, class: "input is-primary", placeholder: "Player name (required)" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :vekn, "VEKN number", class: "label" %>
      <% if @prereg %>
        <p>Leave this blank if you do not have a VEKN number or do not know it</p>
      <% else %>
        <p>You can check VEKN# with the
          <%= link_to "VEKN Player Registry", "https://www.vekn.net/player-registry", target: '_blank' %>
        </p>
      <% end %>
      <div class="control">
        <%= f.text_field :vekn, class: "input is-info", placeholder: "VEKN # (optional)" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :email, "Email address", class: "label" %>
      <div class="control">
        <%= f.text_field :email, class: "input is-info", placeholder: "Email (optional)" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :country, class: "label" %>
      <div class="select">
        <%= f.country_select :country, include_blank: "-", priority_countries: ["FI"], class: "input is-info" %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= f.button "Save", type: "submit", class: "button is-link" %>
      </div>
      <div class="control">
        <%= f.button "Cancel", type: "submit", name: "cancel", value: true, class: "button is-link is-light" %>
      </div>
    </div>

    <template data-controller="grab-focus" data-grab-focus-selector-value="#player_name"></template>
  <% end %>
<% end %>
