<div class="container">
  <div class="columns">
    <div class="column is-one-third">

      <h1 class="title is-4">Pre-registered players</h1>

      <p>These are the current pre-registered players for EC2022.
        You can edit or remove entries here, in order to add a new registration just use the
        <%= link_to "EC2022 registration page", "https://vtes.orava.org/ec2022/european-championships/pre-registration/" %>.
        Changing an entry here changes the entry shown on the public registration page!</p>

      <p class="mt-2">A player should be registered either here or in the "Other Players" list, not both!</p>

      <p class="mt-2">Total players registered: <%= @prereg_count %>.</p>

      <%= form_with(url: registereds_path, method: :get,
        data: { controller: "search-form", turbo_frame: "ec_registrations" }) do |f| %>
        <div class="control has-icons-left mt-4">
          <%= f.search_field :query, placeholder: "Search names and VEKN numbers", autocomplete: "off",
            class: "input is-link is-rounded",
            "data-action": "click->search-form#clear input->search-form#search" %>
          <span class="icon is-left">
            <i class="fas fa-search"></i>
          </span>
        </div>
      <% end %>

      <div class="control mt-4">
        <%= button_to "Save as CSV", registereds_path + ".csv", method: :get,
          class: "button is-info", "data-turbo": false %>
      </div>

    </div>
    <div class="column">
      <%= render "ec_registrations", preregs: @preregs, query: @query %>
    </div>
  </div>
</div>
