<%= form_with(model: player) do |f| %>

  <%= hidden_field_tag 'page', page %>
  <%= hidden_field_tag 'query', query %>

  <% player.errors.each do |error| %>
    <div class="notification is-danger">
      <%= error.full_message %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: "label" %>
    <div class="control">
      <%= f.text_field :name, class: "input is-primary", placeholder: "Player name (required)" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :vekn, class: "label" %>
    <div class="control">
      <%= f.text_field :vekn, class: "input is-info", placeholder: "VEKN # (optional)" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :country, class: "label" %>
    <div class="select">
      <%= f.country_select :country, include_blank: "-", priority_countries: ["FI"], class: "input is-info" %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.button "Save", type: "submit", class: "button is-link" %>
    </div>
    <div class="control">
      <%= f.button "Cancel", type: "submit", name: "cancel", value: true, class: "button is-link is-light" %>
    </div>
  </div>

<% end %>
