<%= turbo_stream.update "clear_trigger" do %>
  <template data-search-form-target="trigger"></template>
<% end %>

<%= turbo_stream.prepend "crud_notify" do %>
  <div class="notification my-1 px-2 py-2 is-success" data-controller="timed-remove"
       data-timed-remove-timeout-value="10000" data-timed-remove-target="remove">
    Added <%= @player.identifier %>
  </div>
<% end %>

<%= turbo_stream.update "players" do %>
  <%= render partial: "players", locals: { players: @players, page: @page, query: @query } %>
<% end %>
