<%= turbo_frame_tag "changelogs" do %>
  <table class="table is-striped is-hoverable">
    <thead>
    <tr>
      <th>Timestamp</th>
      <th>Change</th>
      <th>Player</th>
      <th>Tournament</th>
    </tr>
    </thead>
    <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td style="white-space: nowrap"><%= log.timestamp&.strftime("%d.%m.%Y %H:%M:%S") %></td>
        <td><%= log.change %></td>
        <td><%=
          if log.player
            link_to 'link', player_path(log.player.id), data: { "turbo-frame": "_top" }
          else
            ''
          end
        %></td>
        <td><%=
          if log.tournament
            link_to 'link', tournament_path(log.tournament.id), data: { "turbo-frame": "_top" }
          else
            ''
          end
        %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @logs %>
<% end %>
